.apexcharts-tooltip span {
	color: #ffffff !important;
}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}

.apexcharts-legend-series tspan:nth-child(3) {
  font-weight: bold;
  font-size: 20px;
}

.apexcharts-menu {
  background-color: #808080 !important;
  border: 0px;
  border-radius: 1rem !important;
}

.apexcharts-menu span {
  background-color: #808080 !important;
  border: 0px;
  border-radius: 1rem !important;
}

.apexcharts-pie {
  background-color: #ffffff!important;
}